body, html {
  height: 100%;
  margin: 0;

}
.container{
    width: 1200px;
    margin: auto;
}
header
{
    height: 600px;
    width: 100%;
    margin-top: -21px;
    padding-top: 10px;
}
    
h1 , h4 {
text-align: center;
}
h1{
   font-size: 100px;
    color: #e8d702;
    position: relative;
    z-index: 3;
        
}
h1 a{
    color:#e8d702;
    text-decoration: none;
}
h4{
    margin-top: -25px;
    font-size: xx-large;
    color:#e8d702;
    position: relative;
    z-index: 3;

}
ul{
    list-style: none;
    margin-left: 9%;    
    font-weight: bold;
    padding: 20px 0;
    max-width: max-content;
    position: relative;
    z-index: 3;
}
ul li{
    /*text-align: center;*/
    font-family: 'Open Sans', sans-serif;
    display: inline;
    padding: 15px ;
    border: hidden;
    margin-right: 10px;
    background-color: rgba(0,0,0,0.5);
}
ul li:hover{
    text-decoration: underline;
    background: #797916;
    /*border: 1px solid yellow;*/
}
ul li a{
    text-decoration:none ;
        color: honeydew;
}
header .content{
    text-align: center;
    color: white;
    position: relative;
    z-index: 4;
}
header .content h2{
    font-size: 40px;
}
header .content p{
    font-size: 35px;
}
.header .overLay{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 600px;
    color: #fff;
    z-index: 1;
}
.header
{
  width:106%;
  background-image:url('images/italy.jpg');
  background-size:cover;
  height:600px;
  position:fixed;
  bottom:0;
  top:-10px;
  left:-10px;
  padding-bottom:0;
  margin-bottom:0;
  text-align: center;
  z-index: -1;
}
.header h1
{
  text-align:center;
  border-top:1px solid red;
  border-bottom:1px solid white;
  display:inline-block;
  margin-top: 300px;
  font-family: tahoma;
  font-size: 50px;
    position: relative;
    top: 100px;
}
.header h1 .s1
{
    color:green
}
.header h1 .s2
{
    color: white;
}
.header h1 .s3
{
    color: #f30
}
.body
{
  position:relative;
  width:106%;
  left:-9px;
  top:900px;
  z-index: 10;
  background-color: white;
}
.body img
{
  width:30%;
}
.body h2
{
  text-align: center;
  color: #aa5;
  font-size: 30px;
}
.img-title img
{
margin-left: 500px;
  
}
.img-title h3
{
  padding-left:10%;
  margin-left: 500px;
}
.body p
{

  font-size: 30px;
  width:800px;
  margin-left: 300px;
  text-indent: 60px;
}
