body, html {
  height: 100%
  margin: 0;
}
.container{
    width: 1500px;
    margin: auto;
}
header
{
    height: 400px;
    width: 100%;
   /* background: url('images/pho.jpg');*/
    margin-top: -21px;
    padding-top: 10px;
}
    
h1 , h4 {
text-align: center;
}
h1{
   font-size: 120px;
    color: #e8d702;
    position: relative;
    z-index: 3;
        
}
h1 a{
    color:#e8d702;
    text-decoration: none;
}
h4{
    margin-top: -25px;
    font-size: xx-large;
    color:#e8d702;
    position: relative;
    z-index: 3;

}
ul{
    list-style: none;
    margin-left: 11%;    
    font-weight: bold;
    padding: 20px 0;
    max-width: max-content;
    position: relative;
    z-index: 3;
    left: -30px;
}
ul li{
    /*text-align: center;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    display: inline;
    padding: 15px ;
    border: hidden;
    margin-right: 10px;
    background-color: rgba(0,0,0,0.5);
}
ul li:hover{
    text-decoration: underline;
    background: #797916;
    /*border: 1px solid yellow;*/
}
ul li a{
    text-decoration:none ;
        color: honeydew;
}

.header
{
    background-image:url('images/supplay.jpg');
    background-size: cover;
    width:105%;
    height:1000px;
    position:relative;
    top:-50px;
    left:-1px;
    bottom:0;
    padding-top:0;
    padding-bottom:0;
    margin-bottom:0;
    position:fixed;
    float: right;
}
.header h1
{
    position: relative;
    top:250px;
    text-align: center;
    color: #fff;
    margin-top: 300px;
    font-size: 50px
}
.header .overLay{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 137%;
    color: #fff;
    z-index: 1;
}

.test1
{
    padding:0 0 0 0;
    margin:0 0 0 0;
    left:-1px;
    position: relative; 
    top:600px;
    left:-7px;
    width:103%;
    height:2000px;
    background-color: #fff;
    z-index: 1;
}
.title
{
    margin-left: 150px;
    padding-top:50px;
    color: black;
    font-size: 40px;
}

.author
{
    margin-left:200px;
    font-family: tahoma;
}
.unit
{
    padding:.625rem 00;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 700;
    color:#549e38;
}
.yields
{
    width:100%;
    
    
}
.yields1
{
    width:45%;
    float:left;
    margin: auto;
    text-align: center;
}
.yields2
{
    width:45%;
    float:left;
    height: 100px;
    margin:auto;
    text-align: center;
}
.vertical
{
    border-left:2px solid black;
    height:70px;
left:300px
    top:10px;
    float:right;
}


.test1 hr
{
    background-color: #eee;
    margin: auto;
    width:70%;
    height:1px;
    
}

.recipe 
{
    margin-left: 100px;
    font-family: tahoma;
    text-align: center;
}
.recipe h1.nam{
    text-align: center;
    position: relative;
    
    padding-top:50px;
    color: black;
    font-size: 25px;
}
.recipe p
{
    font-family: tahoma;
}
button
{
    color:white;
    background-color:#09c;
    width:200px;
    height:70px;
    border-radius: 20px;
    border:none;
    cursor:pointer;
}
button:hover
{
    z-index:20;
    border:1px solid blue
}
.recipe2
{
     margin-left: 100px;
     font-family: tahoma;
     text-align: center;
}
.recipe2 p
{
    font-family: tahoma;
}
/* Start footer */
.footer{
  
   padding: 20px 20px 20px 20px; font-size: smaller;
   background: url("images/footerr.jpg");
   background-size: cover;
    color:#e8d702;
    position: relative;
    bottom: -550px;

    z-index: 20;
        }
        
.footer .call , .email{
    letter-spacing:1px;display: inline;
    
}
.footer .email{
    float: right;
    margin-top: 0px;
    
}

/* End footer */